name: Release

on:
    push:
        tags: ["v[0-9]+.[0-9]+.[0-9]+"]
    workflow_dispatch:

jobs:
    train:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4

            - name: Train model in Docker
              run: |
                  docker run --rm -v ${{ github.workspace }}:/root/sms/ python:3.12.9-slim bash -c "
                    cd /root/sms/ && \
                    pip install -r requirements.txt && \
                    mkdir output && \
                    python src/read_data.py && \
                    python src/text_preprocessing.py && \
                    python src/text_classification.py
                  "

            - name: Create GitHub Release
              env:
                  GH_TOKEN: ${{ github.token }}
              run: |
                  VERSION=v$(yq '.version' config.yaml)
                  echo "Creating release for version $VERSION"
                  gh release create $VERSION output/model.joblib output/preprocessor.joblib

    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            attestations: write
            id-token: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Log in to the Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels)
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{github.repository}}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}