name: Train

on:
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12.9"

      - name: Train model
        run: |
          pip install -r requirements.txt
          mkdir output
          python src/read_data.py
          python src/text_preprocessing.py
          python src/text_classification.py

      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          VERSION=v$(grep 'version:' config.yaml | awk '{print $2}')
          echo "Creating release for version $VERSION"
          gh release create $VERSION output/model.joblib output/preprocessor.joblib
